{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
            <td>Roles</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
