{% extends 'base.html.twig' %}

{% block body %}

    <div class="card" style="width: 18rem;">
        je suis l'artcile
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <a href="{{ path('app_posts') }}" class="card-link">return</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
{% endblock %}

